@font-face {
  font-family: Roman Bold;
  src: url("Times NR Condensed Bold.ttf");
}

@font-face {
  font-family: Roman;
  src: url("TimesNewRomanMTStd-Cond.otf");
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Roman';
	background-color: #39383b;
	color: #FFFFFF;
}

h2 {
	letter-spacing: 5px;
	font-size: 20px;
	text-align: center;
}

#logo {
	display: block;
  	margin-right: auto;
  	margin-left: auto;
  	align-content: center;
}
#logo-text {
	display: block;
	float:left;
}
#logo-img {
	float:left;
}
